.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tables {
  display: flex;
}

table {
  margin: 12px;
}

table,
th,
td {
  border: 1px solid black;
}
